<h1>Books</h1>

<div *ngFor="let book of books$ | async">

    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>

    <button (click)="removeBook(book.id)">Remove Book</button>

</div>


<h2>Add new book</h2>

<div>
    <input type="text" placeholder="Book Id" #bookId>
    <input type="text" placeholder="Book Title" #bookTitle>
    <input type="text" placeholder="Book Author" #bookAuthor>
    <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)"> Add Book </button>
</div>